* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #241E4E;
    --secondary-color: #131200;
    --tertiary-color: #F7567C;
}

/* fonts */
.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.noto-sans-body {
    font-family: "Noto Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

/* header */
header, footer {
    background-color: var(--main-color);
    color: #fff;
    padding: 1rem;
}

header {
    display: grid;
    grid-template-columns: 44px auto 44px;
    align-items: end;
}

header img {
    width: 90px;
    margin-bottom: 1rem;
}

header div {
    margin-left: 4rem;
}

header div span {
    font-family: "Lilita One", sans-serif;
    font-size: 18px;
}

header div p {
    font-family: "Noto Sans", sans-serif;
    font-size: 13px;
}

/* Hanburger menu styling and responsiveness */
#menu::before {
    content: "☰";
}

#menu {
    font-size: 2rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: .25rem 2vw;
}

/* navigation */
ul.navigation li a {
    display: block;
    padding: .75rem 2vw;
    color: #fff;
    text-decoration: none;
}

li.current-menu-item a {
    background-color: rgba(0, 0, 0, 0.3);
}

ul.navigation {
    list-style-type: none;
}

#menu.open::before {
    content: "X";
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
    background-color: var(--main-color);
    font-family: "Noto Sans", sans-serif;
}

nav ul {
    overflow: hidden;
}

nav.open {
    grid-template-rows: 1fr;

}

/* Menu navigation hover effect */
.navigation li a:hover {
    text-decoration: overline;
    color: #fff;
    background-color: #5e52ab;
}

/* Hero image */
.hero img {
    width: 100%;
    height: auto;
    padding: 0 0 1rem 0;
    object-fit: cover;
}

main h1 {
    padding: 0 .5rem;
    font-family: "Lilita One", sans-serif;
}

/* Weather and event cards */
.home-cards-container {
    display: grid;
    grid-template-columns: 1fr;
    font-family: "Noto Sans", sans-serif;
}

.events-card {
    height: 200px;
}

.events-card, .current-weather-card, .weather-forecast-card {
    background-color: #cacaca;
    margin: .5rem;
}

.current-weather-card .current-weather, .weather-forecast-card div {
    height: 200px;
}

.weather-forecast-card div p {
    padding: .6rem 0 1rem;
}

.events-card h2, .current-weather-card h2, .weather-forecast-card h2 {
    background-color: var(--main-color);
    color: #fff;
    padding: .2rem;
    text-align: center;
    font-family: "Lilita One", sans-serif;
}

.events-card div, .current-weather, .weather-forecast-card div {
    padding: .5rem;
}

.current-weather-content {
    padding-top: .6rem;
}

.current-weather-card .current-weather {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* Member cards */
#memberCards {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
}

#memberCards section {
    margin: .5rem;
    background-color: #cacaca;
    border-radius: 8px;
    width: 96%;
}

.top-section {
    border-bottom: 1px solid rgba(0, 0, 0, 0.57);
    padding: 12px 0 2px;
}

.top-section h3 {
    font-family: "Lilita One", sans-serif;
    font-size: 20px;
}

.bottom-section {
    padding: 12px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}

.left-side {
    grid-column: 1 / 2;
}

.left-side img {
    width: 85px;
    height: auto;
    margin-right: 12px;
}

.right-side {
    grid-column: 2 / 3;
    text-align: left;
}

/* List styling for member cards */
.toggleContainer button {
    cursor: pointer;
    margin: 2rem 0 2rem .4rem;
    font-family: "Noto Sans", sans-serif;
}

#memberCards.list {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 3rem;
}

#memberCards.list section {
    display: flex;
	margin: 0;
	padding: .25rem .5rem;
    font-size: 12px;
    align-items: center;
    max-height: 30px;
}

#memberCards.list h3 {
    width: 180px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 0.1;
    font-size: 12px
    /* border: 2px dashed pink; */
}

#memberCards.list .tag-line {
    width: 100px;
    /* border: 2px dashed pink; */
}

#memberCards.list .left-side img {
	display: none;
    /* border: 2px dashed pink; */
}

#memberCards.list .top-section {
    display: flex;
    gap: 0;
    text-align: left;
    padding-top: .1rem;
    border: none;
}

#memberCards.list .right-side {
    display: grid;
    grid-template-columns: 180px 50px 60px;
    gap: 15px;
    text-align: left;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    /* border: 2px dashed pink; */
}

#memberCards.list .website-url {
    overflow: hidden;
    text-overflow: ellipsis;
}

#memberCards.list section:nth-child(even) {
	background-color: #bed;
}

#memberCards.list section:nth-child(odd) {
    background-color: transparent;
}

/* footer */
footer {
    display: flex;
    flex-direction: column;
    font-family: "Noto Sans", sans-serif;
    padding: 2rem;
    gap: 2rem;
}

footer .social-media-section {
    text-align: center;
}