@media screen and (min-width: 38rem) {

    /* header and hero image */
    header img {
        width: 100px;
        height: auto;
        margin-top: 1rem;
        margin-bottom: 0;
    }

    header div span {
        font-size: 2rem;
    }

    header div p {
        font-size: 15px;
    }

    .hero {
        margin: 0 6rem;
    }

    /* Navigation */
    #menu {
        display: none;
    }

    .navigation, .navigation .open {
        display: flex;
        justify-content: flex-end;
    }

    .navigation a:hover {
        background-color: #463a92;
    }

    nav {
        grid-template-rows: 1fr;
    }

    #allplaces div {
        grid-template-areas: 
        "photo name"
        "photo description"
        "photo location"
        "learn_more learn_more";
    }

    #allplaces div img:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
        filter: brightness(1.2);
    }

    #allplaces div img {
        width: 300px;
    }

    .learn-more-btn {
        height: 40px;
    }

    footer {
        flex-direction: row;
        justify-content: space-around;
    }

    footer .social-media-section img {
        width: 50px;
        height: auto;
    }
}